/* 공통 스타일 적용 */
@import url('./common.css');

/* 상세 게시글 페이지만의 고유 스타일링 */

.board_view{
    width: 100%;
    border-top: 2px solid black;
}
.board_view .title{
    padding: 2rem 1.5rem;
    font-size: 2rem;
    border-bottom: 1px dashed #dddddd;
}
.board_view .info{
    padding: 1.5rem 0rem;
    border-bottom: 1px solid gray;
}
/* 정보들이 옆으로 표시되도록...*/
.board_view .info dl{
    display: inline-block;
    padding: 0rem 2rem;
    border-right: 1px solid #cccccc;
}
/*마지막 요소의 오르쪽 구분선 제거*/
.board_view .info dl:last-child{
    border-right: 0px;    
}
/*라벨과 글씨들 옆으로..*/
.board_view .info dl dt, .board_view .info dl dd{
    display: inline-block;
    font-size: 1.4rem;
}
.board_view .info dl dd{
    margin-left: 1rem;
    color: #888888;
}

/*글 내용 영역*/
.board_view .content{
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 160%; /*줄간격*/
    border-bottom: 1px solid black;

    min-height: 20rem;
}



