/* 기본문법    선택자{속성:값} */

/* 선택자의 종류 */
/* 1. 타입(요소) 선택자 */
h2{color:red;}
p{color: blue; font-family: serif;}
p{font-size: 16px; color: green;} /*같은 속성을 또 지정하면 마지막 값으로 적용*/

/* 2. 전체 선택자 */
*{font-style: italic; color: yellow;} /*선택자 마다 적용 우선순위가 존재함. [개별선택자가 더 우선시 됨.]*/

/* 3. 아이디 선택자 (선택자 중에 우선순위가 가장 높음.)*/
#p1{color: blue;}

/* 4. 클래스 선택자 (id 선택자 다음의 우선순위)*/
.aa{color: violet;}

/* 요소 + 클래스 선택자 */
/* p요소 중에서 클래스명이 aa 인 요소 선택 */
p.aa{background-color: yellow;}
p#p1{font-size: 18px;} /*되긴 하지만..의미없음. 아이디는 어차피 1개이므로. #p1{}*/

/* 5. 선택자 그룹(다중 선택) */
li, a{color: gray;}

/* 6. 자식, 자손 선택자 */
#kk>p{color: black;}
#kk p{color: lime;}

/* 주의할 선택자 사용모습 */
/*p.aa{}  p요소 중에서 클래스명이 aa*/
/*p .aa{} p요소의 자손 중에서 클래스명이 aa*/

/* 조금 더 복잡한 선택자 모습 */
#ss ul.gg>li{background-color: aqua;}

/* 7. 속성 선택자 */
p[class]{font-size: 30px;} /*p요소 중에서 class 라는 속성이 부여된 녀석*/
div[id="ss"]{font-weight: bold;} /*id속성값이 ss인 div 요소*/

/* 8. 의사(pseudo-class) 선택자 (추후 더 수업 예정)*/
a:link{color: blue;}
a:visited{color: brown;}
a:hover{color: green;}
a:active{color: red;}

#ss ul li:first-child{color: red;}
#ss ul li:last-child{color: blue;}
#ss ul li:nth-child(2){color: green;}

/* nth 를 수식으로.. 적용할 수도 있음 */
#ss ul li:nth-child(2n){background-color: lightgreen;} /*짝수*/
#ss ul li:nth-child(2n+1){background-color:forestgreen;} /*홀수*/

